<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/formulario.css">
    <title>ACTUALIZAR</title>

</head>
<body>
<div class="formulario">
   <form method="post" action="/actualizar_cliente">
    <input type="hidden" name="txtid" value="{{dato[0]}}">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="txtnombre" value="{{dato[1]}}"><br>
        <label for="nit">Nit</label>
        <input type="text" id="nit" name="txtnit" value="{{dato[2]}}"><br>
        <input type="submit" value="ACTUALIZAR">
    </form>
</div>
</body>
</html>