<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/formulario.css">
    <title>COMPRAS</title>
</head>
<body>
    <div class="formulario">
    <form method="post" action="/comprar">

        <input type="hidden" name="txtid" value="{{id}}">
        <p>Nombre del cliente: {{datos[1]}}</p>
        <p>NIT del cliente: {{datos[2]}}</p>
        <label for="Producto">Producto</label>
        <select name="txtproducto" required>
            <option value="cocacola">COCACOLA</option>
            <option value="pepsi">PEPSI</option>
            <option value="agua">AGUA</option>
            <option value="fanta">FANTA</option>
            <option value="sprite">SPRITE</option>
            <option value="cascada">CASCADA</option>

        </select>
        <label for="Cantidad">Cantidad</label>
        <input type="text" name="txtcantidad" required><br>
        <label for="costo">Coso</label>
        <input type="text" name="txtcosto" required><br>
        <input type="submit" value="REGISTRAR">
        <input type="submit" value="CANCELAR" onclick="window.location.href='/'">

    </form>
    </div>
</body>
</html>