<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>INICIO</title>
    
</head>
<body>

    <form action="/login" method="POST">
<h2>Iniciar Sesión</h2>
<label>Usuario: </label>
<input type="text" name="txtuser" required><br><br>
<label>Clave: </label>
<input type="password" name="txtclave" required><br><br>
<button type="submit">Iniciar Sesion</button>
{% if mensaje %}
<p style="color: red;">{{mensaje}}</p>
{% endif %}
</form>
    
</body>
</html>